@font-face{
	font-family: 'iconos';
	src:url('../font/iconos.eot?mrm63i');
	src:url('../font/iconos.eot?mrm63i#iefix') format('embedded-opentype'),
		url('../font/iconos.ttf?mrm63i') format('truetype'),
		url('../font/iconos.woff?mrm63i') format('woff'),
		url('../font/iconos.svg?mrm63i#iconos') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'iconos';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-accessibility
	&:before
		content: "\e900"

.icon-address-book
	&:before
		content: "\e901"

.icon-aid-kit
	&:before
		content: "\e902"

.icon-airplane
	&:before
		content: "\e903"

.icon-alarm
	&:before
		content: "\e904"

.icon-android
	&:before
		content: "\e905"

.icon-angry
	&:before
		content: "\e906"

.icon-angry2
	&:before
		content: "\e907"

.icon-apple
	&:before
		content: "\e908"

.icon-arrow-down
	&:before
		content: "\e909"

.icon-arrow-down2
	&:before
		content: "\e90a"

.icon-arrow-down-left
	&:before
		content: "\e90b"

.icon-arrow-down-left2
	&:before
		content: "\e90c"

.icon-arrow-down-right
	&:before
		content: "\e90d"

.icon-arrow-down-right2
	&:before
		content: "\e90e"

.icon-arrow-left
	&:before
		content: "\e90f"

.icon-arrow-left2
	&:before
		content: "\e910"

.icon-arrow-right
	&:before
		content: "\e911"

.icon-arrow-right2
	&:before
		content: "\e912"

.icon-arrow-up
	&:before
		content: "\e913"

.icon-arrow-up2
	&:before
		content: "\e914"

.icon-arrow-up-left
	&:before
		content: "\e915"

.icon-arrow-up-left2
	&:before
		content: "\e916"

.icon-arrow-up-right
	&:before
		content: "\e917"

.icon-arrow-up-right2
	&:before
		content: "\e918"

.icon-attachment
	&:before
		content: "\e919"

.icon-backward
	&:before
		content: "\e91a"

.icon-backward2
	&:before
		content: "\e91b"

.icon-baffled
	&:before
		content: "\e91c"

.icon-baffled2
	&:before
		content: "\e91d"

.icon-barcode
	&:before
		content: "\e91e"

.icon-bell
	&:before
		content: "\e91f"

.icon-bin
	&:before
		content: "\e920"

.icon-bin2
	&:before
		content: "\e921"

.icon-binoculars
	&:before
		content: "\e922"

.icon-blocked
	&:before
		content: "\e923"

.icon-blog
	&:before
		content: "\e924"

.icon-blogger
	&:before
		content: "\e925"

.icon-blogger2
	&:before
		content: "\e926"

.icon-bold
	&:before
		content: "\e927"

.icon-book
	&:before
		content: "\e928"

.icon-bookmark
	&:before
		content: "\e929"

.icon-bookmarks
	&:before
		content: "\e92a"

.icon-books
	&:before
		content: "\e92b"

.icon-box-add
	&:before
		content: "\e92c"

.icon-box-remove
	&:before
		content: "\e92d"

.icon-briefcase
	&:before
		content: "\e92e"

.icon-brightness-contrast
	&:before
		content: "\e92f"

.icon-bubble
	&:before
		content: "\e930"

.icon-bubble2
	&:before
		content: "\e931"

.icon-bubbles
	&:before
		content: "\e932"

.icon-bubbles2
	&:before
		content: "\e933"

.icon-bubbles3
	&:before
		content: "\e934"

.icon-bubbles4
	&:before
		content: "\e935"

.icon-bug
	&:before
		content: "\e936"

.icon-bullhorn
	&:before
		content: "\e937"

.icon-burbuja
	&:before
		content: "\e938"

.icon-calculator
	&:before
		content: "\e939"

.icon-calendar
	&:before
		content: "\e93a"

.icon-camera
	&:before
		content: "\e93b"

.icon-cancel-circle
	&:before
		content: "\e93c"

.icon-cart
	&:before
		content: "\e93d"

.icon-checkbox-checked
	&:before
		content: "\e93e"

.icon-checkbox-unchecked
	&:before
		content: "\e93f"

.icon-checkmark
	&:before
		content: "\e940"

.icon-checkmark2
	&:before
		content: "\e941"

.icon-chrome
	&:before
		content: "\e942"

.icon-circle-down
	&:before
		content: "\e943"

.icon-circle-left
	&:before
		content: "\e944"

.icon-circle-right
	&:before
		content: "\e945"

.icon-circle-up
	&:before
		content: "\e946"

.icon-clear-formatting
	&:before
		content: "\e947"

.icon-clipboard
	&:before
		content: "\e948"

.icon-clock
	&:before
		content: "\e949"

.icon-clock2
	&:before
		content: "\e94a"

.icon-cloud
	&:before
		content: "\e94b"

.icon-cloud-check
	&:before
		content: "\e94c"

.icon-cloud-download
	&:before
		content: "\e94d"

.icon-cloud-upload
	&:before
		content: "\e94e"

.icon-clubs
	&:before
		content: "\e94f"

.icon-codepen
	&:before
		content: "\e950"

.icon-cog
	&:before
		content: "\e951"

.icon-cogs
	&:before
		content: "\e952"

.icon-coin-dollar
	&:before
		content: "\e953"

.icon-coin-euro
	&:before
		content: "\e954"

.icon-coin-pound
	&:before
		content: "\e955"

.icon-coin-yen
	&:before
		content: "\e956"

.icon-command
	&:before
		content: "\e957"

.icon-compass
	&:before
		content: "\e958"

.icon-compass2
	&:before
		content: "\e959"

.icon-confused
	&:before
		content: "\e95a"

.icon-confused2
	&:before
		content: "\e95b"

.icon-connection
	&:before
		content: "\e95c"

.icon-contrast
	&:before
		content: "\e95d"

.icon-cool
	&:before
		content: "\e95e"

.icon-cool2
	&:before
		content: "\e95f"

.icon-copy
	&:before
		content: "\e960"

.icon-credit-card
	&:before
		content: "\e961"

.icon-crop
	&:before
		content: "\e962"

.icon-cross
	&:before
		content: "\e963"

.icon-crying
	&:before
		content: "\e964"

.icon-crying2
	&:before
		content: "\e965"

.icon-css3
	&:before
		content: "\e966"

.icon-ctrl
	&:before
		content: "\e967"

.icon-database
	&:before
		content: "\e968"

.icon-delicious
	&:before
		content: "\e969"

.icon-deviantart
	&:before
		content: "\e96a"

.icon-deviantart2
	&:before
		content: "\e96b"

.icon-diamonds
	&:before
		content: "\e96c"

.icon-dice
	&:before
		content: "\e96d"

.icon-display
	&:before
		content: "\e96e"

.icon-download
	&:before
		content: "\e96f"

.icon-download2
	&:before
		content: "\e970"

.icon-download3
	&:before
		content: "\e971"

.icon-drawer
	&:before
		content: "\e972"

.icon-drawer2
	&:before
		content: "\e973"

.icon-dribbble
	&:before
		content: "\e974"

.icon-dribbble2
	&:before
		content: "\e975"

.icon-dribbble3
	&:before
		content: "\e976"

.icon-drive
	&:before
		content: "\e977"

.icon-dropbox
	&:before
		content: "\e978"

.icon-droplet
	&:before
		content: "\e979"

.icon-earth
	&:before
		content: "\e97a"

.icon-eject
	&:before
		content: "\e97b"

.icon-ello
	&:before
		content: "\e97c"

.icon-embed
	&:before
		content: "\e97d"

.icon-embed2
	&:before
		content: "\e97e"

.icon-enlarge
	&:before
		content: "\e97f"

.icon-enlarge2
	&:before
		content: "\e980"

.icon-enter
	&:before
		content: "\e981"

.icon-envelop
	&:before
		content: "\e982"

.icon-equalizer
	&:before
		content: "\e983"

.icon-equalizer2
	&:before
		content: "\e984"

.icon-evil
	&:before
		content: "\e985"

.icon-evil2
	&:before
		content: "\e986"

.icon-exit
	&:before
		content: "\e987"

.icon-eye
	&:before
		content: "\e988"

.icon-eye-blocked
	&:before
		content: "\e989"

.icon-eyedropper
	&:before
		content: "\e98a"

.icon-eye-minus
	&:before
		content: "\e98b"

.icon-eye-plus
	&:before
		content: "\e98c"

.icon-facebook
	&:before
		content: "\e98d"

.icon-facebook2
	&:before
		content: "\e98e"

.icon-facebook3
	&:before
		content: "\e98f"

.icon-feed
	&:before
		content: "\e990"

.icon-feed2
	&:before
		content: "\e991"

.icon-feed3
	&:before
		content: "\e992"

.icon-feed4
	&:before
		content: "\e993"

.icon-file-empty
	&:before
		content: "\e994"

.icon-file-excel
	&:before
		content: "\e995"

.icon-file-music
	&:before
		content: "\e996"

.icon-file-openoffice
	&:before
		content: "\e997"

.icon-file-pdf
	&:before
		content: "\e998"

.icon-file-picture
	&:before
		content: "\e999"

.icon-file-play
	&:before
		content: "\e99a"

.icon-files-empty
	&:before
		content: "\e99b"

.icon-file-text
	&:before
		content: "\e99c"

.icon-file-text2
	&:before
		content: "\e99d"

.icon-file-video
	&:before
		content: "\e99e"

.icon-file-word
	&:before
		content: "\e99f"

.icon-file-zip
	&:before
		content: "\e9a0"

.icon-film
	&:before
		content: "\e9a1"

.icon-filter
	&:before
		content: "\e9a2"

.icon-finder
	&:before
		content: "\e9a3"

.icon-fire
	&:before
		content: "\e9a4"

.icon-firefox
	&:before
		content: "\e9a5"

.icon-first
	&:before
		content: "\e9a6"

.icon-flag
	&:before
		content: "\e9a7"

.icon-flattr
	&:before
		content: "\e9a8"

.icon-flickr
	&:before
		content: "\e9a9"

.icon-flickr2
	&:before
		content: "\e9aa"

.icon-flickr3
	&:before
		content: "\e9ab"

.icon-flickr4
	&:before
		content: "\e9ac"

.icon-floppy-disk
	&:before
		content: "\e9ad"

.icon-folder
	&:before
		content: "\e9ae"

.icon-folder-download
	&:before
		content: "\e9af"

.icon-folder-minus
	&:before
		content: "\e9b0"

.icon-folder-open
	&:before
		content: "\e9b1"

.icon-folder-plus
	&:before
		content: "\e9b2"

.icon-folder-upload
	&:before
		content: "\e9b3"

.icon-font
	&:before
		content: "\e9b4"

.icon-font-size
	&:before
		content: "\e9b5"

.icon-forrst
	&:before
		content: "\e9b6"

.icon-forrst2
	&:before
		content: "\e9b7"

.icon-forward
	&:before
		content: "\e9b8"

.icon-forward2
	&:before
		content: "\e9b9"

.icon-forward3
	&:before
		content: "\e9ba"

.icon-foursquare
	&:before
		content: "\e9bb"

.icon-frustrated
	&:before
		content: "\e9bc"

.icon-frustrated2
	&:before
		content: "\e9bd"

.icon-gift
	&:before
		content: "\e9be"

.icon-git
	&:before
		content: "\e9bf"

.icon-github
	&:before
		content: "\e9c0"

.icon-github2
	&:before
		content: "\e9c1"

.icon-github3
	&:before
		content: "\e9c2"

.icon-github4
	&:before
		content: "\e9c3"

.icon-github5
	&:before
		content: "\e9c4"

.icon-glass
	&:before
		content: "\e9c5"

.icon-glass2
	&:before
		content: "\e9c6"

.icon-google
	&:before
		content: "\e9c7"

.icon-google-drive
	&:before
		content: "\e9c8"

.icon-google-plus
	&:before
		content: "\e9c9"

.icon-google-plus2
	&:before
		content: "\e9ca"

.icon-google-plus3
	&:before
		content: "\e9cb"

.icon-grin
	&:before
		content: "\e9cc"

.icon-grin2
	&:before
		content: "\e9cd"

.icon-hammer
	&:before
		content: "\e9ce"

.icon-hammer2
	&:before
		content: "\e9cf"

.icon-happy
	&:before
		content: "\e9d0"

.icon-happy2
	&:before
		content: "\e9d1"

.icon-headphones
	&:before
		content: "\e9d2"

.icon-heart
	&:before
		content: "\e9d3"

.icon-heart-broken
	&:before
		content: "\e9d4"

.icon-hipster
	&:before
		content: "\e9d5"

.icon-hipster2
	&:before
		content: "\e9d6"

.icon-history
	&:before
		content: "\e9d7"

.icon-home
	&:before
		content: "\e9d8"

.icon-home2
	&:before
		content: "\e9d9"

.icon-home3
	&:before
		content: "\e9da"

.icon-hour-glass
	&:before
		content: "\e9db"

.icon-html5
	&:before
		content: "\e9dc"

.icon-html52
	&:before
		content: "\e9dd"

.icon-IcoMoon
	&:before
		content: "\e9de"

.icon-IE
	&:before
		content: "\e9df"

.icon-image
	&:before
		content: "\e9e0"

.icon-images
	&:before
		content: "\e9e1"

.icon-indent-decrease
	&:before
		content: "\e9e2"

.icon-indent-increase
	&:before
		content: "\e9e3"

.icon-infinite
	&:before
		content: "\e9e4"

.icon-info
	&:before
		content: "\e9e5"

.icon-insert-template
	&:before
		content: "\e9e6"

.icon-instagram
	&:before
		content: "\e9e7"

.icon-italic
	&:before
		content: "\e9e8"

.icon-joomla
	&:before
		content: "\e9e9"

.icon-key
	&:before
		content: "\e9ea"

.icon-key2
	&:before
		content: "\e9eb"

.icon-keyboard
	&:before
		content: "\e9ec"

.icon-lab
	&:before
		content: "\e9ed"

.icon-lanyrd
	&:before
		content: "\e9ee"

.icon-laptop
	&:before
		content: "\e9ef"

.icon-last
	&:before
		content: "\e9f0"

.icon-lastfm
	&:before
		content: "\e9f1"

.icon-lastfm2
	&:before
		content: "\e9f2"

.icon-leaf
	&:before
		content: "\e9f3"

.icon-left
	&:before
		content: "\e9f4"

.icon-library
	&:before
		content: "\e9f5"

.icon-libreoffice
	&:before
		content: "\e9f6"

.icon-lifebuoy
	&:before
		content: "\e9f7"

.icon-ligature
	&:before
		content: "\e9f8"

.icon-ligature2
	&:before
		content: "\e9f9"

.icon-link
	&:before
		content: "\e9fa"

.icon-linkedin
	&:before
		content: "\e9fb"

.icon-linkedin2
	&:before
		content: "\e9fc"

.icon-list
	&:before
		content: "\e9fd"

.icon-list2
	&:before
		content: "\e9fe"

.icon-list-numbered
	&:before
		content: "\e9ff"

.icon-location
	&:before
		content: "\ea00"

.icon-location2
	&:before
		content: "\ea01"

.icon-lock
	&:before
		content: "\ea02"

.icon-loop
	&:before
		content: "\ea03"

.icon-loop2
	&:before
		content: "\ea04"

.icon-ltr
	&:before
		content: "\ea05"

.icon-magic-wand
	&:before
		content: "\ea06"

.icon-magnet
	&:before
		content: "\ea07"

.icon-mail
	&:before
		content: "\ea08"

.icon-mail2
	&:before
		content: "\ea09"

.icon-mail3
	&:before
		content: "\ea0a"

.icon-mail4
	&:before
		content: "\ea0b"

.icon-make-group
	&:before
		content: "\ea0c"

.icon-man
	&:before
		content: "\ea0d"

.icon-man-woman
	&:before
		content: "\ea0e"

.icon-map
	&:before
		content: "\ea0f"

.icon-map2
	&:before
		content: "\ea10"

.icon-menu
	&:before
		content: "\ea11"

.icon-menu2
	&:before
		content: "\ea12"

.icon-menu3
	&:before
		content: "\ea13"

.icon-menu4
	&:before
		content: "\ea14"

.icon-meter
	&:before
		content: "\ea15"

.icon-meter2
	&:before
		content: "\ea16"

.icon-mic
	&:before
		content: "\ea17"

.icon-minus
	&:before
		content: "\ea18"

.icon-mobile
	&:before
		content: "\ea19"

.icon-mobile2
	&:before
		content: "\ea1a"

.icon-move-down
	&:before
		content: "\ea1b"

.icon-move-up
	&:before
		content: "\ea1c"

.icon-mug
	&:before
		content: "\ea1d"

.icon-music
	&:before
		content: "\ea1e"

.icon-neutral
	&:before
		content: "\ea1f"

.icon-neutral2
	&:before
		content: "\ea20"

.icon-newspaper
	&:before
		content: "\ea21"

.icon-new-tab
	&:before
		content: "\ea22"

.icon-next
	&:before
		content: "\ea23"

.icon-next2
	&:before
		content: "\ea24"

.icon-notification
	&:before
		content: "\ea25"

.icon-office
	&:before
		content: "\ea26"

.icon-omega
	&:before
		content: "\ea27"

.icon-onedrive
	&:before
		content: "\ea28"

.icon-opera
	&:before
		content: "\ea29"

.icon-opt
	&:before
		content: "\ea2a"

.icon-pacman
	&:before
		content: "\ea2b"

.icon-pagebreak
	&:before
		content: "\ea2c"

.icon-page-break
	&:before
		content: "\ea2d"

.icon-paint-format
	&:before
		content: "\ea2e"

.icon-paragraph-center
	&:before
		content: "\ea2f"

.icon-paragraph-justify
	&:before
		content: "\ea30"

.icon-paragraph-left
	&:before
		content: "\ea31"

.icon-paragraph-right
	&:before
		content: "\ea32"

.icon-paste
	&:before
		content: "\ea33"

.icon-patita
	&:before
		content: "\ea34"

.icon-pause
	&:before
		content: "\ea35"

.icon-pause2
	&:before
		content: "\ea36"

.icon-paypal
	&:before
		content: "\ea37"

.icon-paypal2
	&:before
		content: "\ea38"

.icon-paypal3
	&:before
		content: "\ea39"

.icon-pen
	&:before
		content: "\ea3a"

.icon-pencil
	&:before
		content: "\ea3b"

.icon-pencil2
	&:before
		content: "\ea3c"

.icon-petcart
	&:before
		content: "\ea3d"

.icon-petcart2
	&:before
		content: "\ea3e"

.icon-phone
	&:before
		content: "\ea3f"

.icon-phone-hang-up
	&:before
		content: "\ea40"

.icon-picassa
	&:before
		content: "\ea41"

.icon-picassa2
	&:before
		content: "\ea42"

.icon-pie-chart
	&:before
		content: "\ea43"

.icon-pilcrow
	&:before
		content: "\ea44"

.icon-pinterest
	&:before
		content: "\ea45"

.icon-pinterest2
	&:before
		content: "\ea46"

.icon-play
	&:before
		content: "\ea47"

.icon-play2
	&:before
		content: "\ea48"

.icon-play3
	&:before
		content: "\ea49"

.icon-plus
	&:before
		content: "\ea4a"

.icon-podcast
	&:before
		content: "\ea4b"

.icon-point-down
	&:before
		content: "\ea4c"

.icon-point-left
	&:before
		content: "\ea4d"

.icon-point-right
	&:before
		content: "\ea4e"

.icon-point-up
	&:before
		content: "\ea4f"

.icon-power
	&:before
		content: "\ea50"

.icon-power-cord
	&:before
		content: "\ea51"

.icon-previous
	&:before
		content: "\ea52"

.icon-previous2
	&:before
		content: "\ea53"

.icon-price-tag
	&:before
		content: "\ea54"

.icon-price-tags
	&:before
		content: "\ea55"

.icon-printer
	&:before
		content: "\ea56"

.icon-profile
	&:before
		content: "\ea57"

.icon-pushpin
	&:before
		content: "\ea58"

.icon-qrcode
	&:before
		content: "\ea59"

.icon-question
	&:before
		content: "\ea5a"

.icon-quill
	&:before
		content: "\ea5b"

.icon-quotes-left
	&:before
		content: "\ea5c"

.icon-quotes-right
	&:before
		content: "\ea5d"

.icon-radio-checked
	&:before
		content: "\ea5e"

.icon-radio-checked2
	&:before
		content: "\ea5f"

.icon-radio-unchecked
	&:before
		content: "\ea60"

.icon-reddit
	&:before
		content: "\ea61"

.icon-redo
	&:before
		content: "\ea62"

.icon-redo2
	&:before
		content: "\ea63"

.icon-reply
	&:before
		content: "\ea64"

.icon-right
	&:before
		content: "\ea65"

.icon-road
	&:before
		content: "\ea66"

.icon-rocket
	&:before
		content: "\ea67"

.icon-rtl
	&:before
		content: "\ea68"

.icon-sad
	&:before
		content: "\ea69"

.icon-sad2
	&:before
		content: "\ea6a"

.icon-safari
	&:before
		content: "\ea6b"

.icon-scissors
	&:before
		content: "\ea6c"

.icon-search
	&:before
		content: "\ea6d"

.icon-section
	&:before
		content: "\ea6e"

.icon-share
	&:before
		content: "\ea6f"

.icon-share2
	&:before
		content: "\ea70"

.icon-shield
	&:before
		content: "\ea71"

.icon-shift
	&:before
		content: "\ea72"

.icon-shocked
	&:before
		content: "\ea73"

.icon-shocked2
	&:before
		content: "\ea74"

.icon-shrink
	&:before
		content: "\ea75"

.icon-shrink2
	&:before
		content: "\ea76"

.icon-shuffle
	&:before
		content: "\ea77"

.icon-sigma
	&:before
		content: "\ea78"

.icon-skype
	&:before
		content: "\ea79"

.icon-sleepy
	&:before
		content: "\ea7a"

.icon-sleepy2
	&:before
		content: "\ea7b"

.icon-smile
	&:before
		content: "\ea7c"

.icon-smile2
	&:before
		content: "\ea7d"

.icon-sort-alpha-asc
	&:before
		content: "\ea7e"

.icon-sort-alpha-desc
	&:before
		content: "\ea7f"

.icon-sort-amount-asc
	&:before
		content: "\ea80"

.icon-sort-amount-desc
	&:before
		content: "\ea81"

.icon-sort-numberic-desc
	&:before
		content: "\ea82"

.icon-sort-numeric-asc
	&:before
		content: "\ea83"

.icon-soundcloud
	&:before
		content: "\ea84"

.icon-soundcloud2
	&:before
		content: "\ea85"

.icon-spades
	&:before
		content: "\ea86"

.icon-spell-check
	&:before
		content: "\ea87"

.icon-sphere
	&:before
		content: "\ea88"

.icon-spinner
	&:before
		content: "\ea89"

.icon-spinner2
	&:before
		content: "\ea8a"

.icon-spinner3
	&:before
		content: "\ea8b"

.icon-spinner4
	&:before
		content: "\ea8c"

.icon-spinner5
	&:before
		content: "\ea8d"

.icon-spinner6
	&:before
		content: "\ea8e"

.icon-spinner7
	&:before
		content: "\ea8f"

.icon-spinner8
	&:before
		content: "\ea90"

.icon-spinner9
	&:before
		content: "\ea91"

.icon-spinner10
	&:before
		content: "\ea92"

.icon-spinner11
	&:before
		content: "\ea93"

.icon-spoon-knife
	&:before
		content: "\ea94"

.icon-stack
	&:before
		content: "\ea95"

.icon-stackoverflow
	&:before
		content: "\ea96"

.icon-star-empty
	&:before
		content: "\ea97"

.icon-star-full
	&:before
		content: "\ea98"

.icon-star-half
	&:before
		content: "\ea99"

.icon-stats-bars
	&:before
		content: "\ea9a"

.icon-stats-bars2
	&:before
		content: "\ea9b"

.icon-stats-dots
	&:before
		content: "\ea9c"

.icon-steam
	&:before
		content: "\ea9d"

.icon-steam2
	&:before
		content: "\ea9e"

.icon-stop
	&:before
		content: "\ea9f"

.icon-stop2
	&:before
		content: "\eaa0"

.icon-stopwatch
	&:before
		content: "\eaa1"

.icon-strikethrough
	&:before
		content: "\eaa2"

.icon-stumbleupon
	&:before
		content: "\eaa3"

.icon-stumbleupon2
	&:before
		content: "\eaa4"

.icon-subscript
	&:before
		content: "\eaa5"

.icon-subscript2
	&:before
		content: "\eaa6"

.icon-sun
	&:before
		content: "\eaa7"

.icon-superscript
	&:before
		content: "\eaa8"

.icon-superscript2
	&:before
		content: "\eaa9"

.icon-svg
	&:before
		content: "\eaaa"

.icon-switch
	&:before
		content: "\eaab"

.icon-tab
	&:before
		content: "\eaac"

.icon-table
	&:before
		content: "\eaad"

.icon-table2
	&:before
		content: "\eaae"

.icon-tablet
	&:before
		content: "\eaaf"

.icon-target
	&:before
		content: "\eab0"

.icon-terminal
	&:before
		content: "\eab1"

.icon-text-color
	&:before
		content: "\eab2"

.icon-text-height
	&:before
		content: "\eab3"

.icon-text-width
	&:before
		content: "\eab4"

.icon-ticket
	&:before
		content: "\eab5"

.icon-tongue
	&:before
		content: "\eab6"

.icon-tongue2
	&:before
		content: "\eab7"

.icon-tree
	&:before
		content: "\eab8"

.icon-trophy
	&:before
		content: "\eab9"

.icon-truck
	&:before
		content: "\eaba"

.icon-tumblr
	&:before
		content: "\eabb"

.icon-tumblr2
	&:before
		content: "\eabc"

.icon-tux
	&:before
		content: "\eabd"

.icon-tv
	&:before
		content: "\eabe"

.icon-twitch
	&:before
		content: "\eabf"

.icon-twitter
	&:before
		content: "\eac0"

.icon-twitter2
	&:before
		content: "\eac1"

.icon-twitter3
	&:before
		content: "\eac2"

.icon-underline
	&:before
		content: "\eac3"

.icon-undo
	&:before
		content: "\eac4"

.icon-undo2
	&:before
		content: "\eac5"

.icon-ungroup
	&:before
		content: "\eac6"

.icon-unlocked
	&:before
		content: "\eac7"

.icon-upload
	&:before
		content: "\eac8"

.icon-upload2
	&:before
		content: "\eac9"

.icon-upload3
	&:before
		content: "\eaca"

.icon-user
	&:before
		content: "\eacb"

.icon-user-check
	&:before
		content: "\eacc"

.icon-user-minus
	&:before
		content: "\eacd"

.icon-user-plus
	&:before
		content: "\eace"

.icon-users
	&:before
		content: "\eacf"

.icon-user-tie
	&:before
		content: "\ead0"

.icon-video-camera
	&:before
		content: "\ead1"

.icon-vimeo
	&:before
		content: "\ead2"

.icon-vimeo2
	&:before
		content: "\ead3"

.icon-vimeo3
	&:before
		content: "\ead4"

.icon-volume-decrease
	&:before
		content: "\ead5"

.icon-volume-high
	&:before
		content: "\ead6"

.icon-volume-increase
	&:before
		content: "\ead7"

.icon-volume-low
	&:before
		content: "\ead8"

.icon-volume-medium
	&:before
		content: "\ead9"

.icon-volume-mute
	&:before
		content: "\eada"

.icon-volume-mute2
	&:before
		content: "\eadb"

.icon-warning
	&:before
		content: "\eadc"

.icon-windows
	&:before
		content: "\eadd"

.icon-windows8
	&:before
		content: "\eade"

.icon-wink
	&:before
		content: "\eadf"

.icon-wink2
	&:before
		content: "\eae0"

.icon-woman
	&:before
		content: "\eae1"

.icon-wondering
	&:before
		content: "\eae2"

.icon-wondering2
	&:before
		content: "\eae3"

.icon-wordpress
	&:before
		content: "\eae4"

.icon-wordpress2
	&:before
		content: "\eae5"

.icon-wrench
	&:before
		content: "\eae6"

.icon-xing
	&:before
		content: "\eae7"

.icon-xing2
	&:before
		content: "\eae8"

.icon-yahoo
	&:before
		content: "\eae9"

.icon-yelp
	&:before
		content: "\eaea"

.icon-youtube
	&:before
		content: "\eaeb"

.icon-youtube2
	&:before
		content: "\eaec"

.icon-youtube3
	&:before
		content: "\eaed"

.icon-youtube4
	&:before
		content: "\eaee"

.icon-zoom-in
	&:before
		content: "\eaef"

.icon-zoom-out
	&:before
		content: "\eaf0"

