@import "nib"
@import 'nib/gradients'

@media (max-width: 1199px) {
  .content_scene_cat .content_scene_cat_bg {
    padding: 10px 10px 10px 15px; }
}

@media (max-width: 1199px) {
  .content_scene_cat span.category-name {
    font-size: 25px;
    line-height: 30px; }
}

@media all and (max-width: 1020px) {
  .skew.l {
    left: 5%;
    transform: skew(00deg,25deg);
  }

  .skew.r {
    right: 5%;
    transform: skew(00deg,-25deg);
  }
}

@media all and (max-width: 1000px)
	body
		header 
			.marca
				left 10px
				width 110px
	.selectCategory 
		ul
			margin 0 auto 16px auto
			width 90%
	body 
		.popularesMasVendidos 
			div 
				.menuProductosHome
					li
						margin 0 auto
						width 90%
				.tab-content 
					.listaProducto
						margin 0 auto
						width 90%
	.page-heading
	.product-listing
	.listaProducto
		width 100%
	.content_sortPagiBar 
		.sortPagiBar 
			.productsSortForm
				width 100%
	/*.menuTop
		width 45%

	.selectCategory
		ul
			li*/
				/*&:hover
					a
						figure
							width 150px
							img
								width 175px*/
				/*a
					figure
						width 150px
						img
							width 175px*/


@media screen and (min-width: 970px)
	#cd-lateral-nav
		width 950px !important
		
@media screen and (max-width: 940px)
	body
		.carruselInfografia
			.infografia
				.cirGrilla
					.grilla
						width 49%
						.verMas
							width 100%
							.ciritem
								border-radius 0
								img
									left 20%
									top -10px
									width 60%
								.cirinfo 
									border-radius 0
		header
			.header
				//border-bottom 4px solid #F8B302
				//height 160px
				padding 0 10px
				z-index 1
				.headerCOnt
					background none
					width 100%
					/*.buscador
						right 35%*/
					.contenedorMenu
						background #ECEDEF
						//border-top 1px solid #ddd
						box-shadow 3px 3px 10px #ddd
						height 100%
						min-height 560px
						left 0
						opacity 0
						position fixed
						//top 85px
						//transform translateX(-100%)
						visibility hidden
						width 60%
						z-index 100
	.contenedorDivisor
	.contenedorDivisor2
		bottom -40px
		.bottomDivisor
		.topDivisor
			border-color transparent
			border-width 0
		.contenedorTexto 
			height 40px
			h2
				line-height 40px
	.menuManias
		//height 100%
		left 0
		//opacity 0
		position relative
		top 0
		//visibility hidden
		width 100%
		z-index 100
		.menuTop
			background-color clarito
			border 0
			//box-shadow 3px 0 5px rgba(black, .2)
			height 100%
			left 0
			line-height 85px
			padding 0 10px
			//position fixed
			//visibility hidden
			width 100%
			z-index 10
		.menuTop > li
			//background #434142
			border 0
			display block
			text-align left
			width 100%
			ul
				display none
		.menuTop > li > a
			color #879193
			&:after
				left 0
				width 100%
			&:hover
				color #790b19
	/*.selectCategory 
		.arriba 
			li:nth-child(2)
				a 
					figure 
						img
							width 120%*/
				

				

/*@media screen and (min-width:801px)
	#cd-lateral-nav
		background-color #008F2F
		height 40px
		margin 0 auto
		overflow visible
		position relative
		transform translateX(0)
		visibility visible
		width 100%*/
		
@media screen and (max-width: 850px)
	.tabsInfo
		.tabs
			.navTabs
				ul
					li
						width 170px

/*@media screen and (max-width: 820px)
	.selectCategory
		ul
			li
				border-radius 0
				overflow initial
				.plan
					height 75px
					left 0
					position absolute
					top -5px
					width 75px
					.girado
						font-size 16px
						left 10px
					h2
						font-size 65px
						line-height 75px
				.ifoPlan
					margin-left 70px
					width initial
					h2
						font-size 18px
						margin 0
					p
						font-size 15px
						margin 3px 0
				a
					figure
						border-radius 0*/
/*@media screen and (max-width: 850px)
	.selectCategory
		.abajo
			height 400px*/

@media screen and (max-width: 800px)
	body
		footer 
			box-sizing border-box
			padding 20px
			.finFooter
				width 100%
				.row
					width 100%
					figure
						width 100%
						img
							width 150px
					figure
					.boletin
						display block
					.boletin
						width 100%
						.contBoletin
							//margin 0 auto
							width 100%
							.block_content
								width 100%
								form
									.form-group
										text-align left
										input
											width 60%
			.row
				width 100%
				.blockcategories_footer
				.footer-block
				.footerSocial
				.informacionFooter
					border-bottom 1px solid #aeadb3
					border-left 0
					border-right 0
					border-top 0
					display block
					min-height initial
					padding 0 0 1em 0
					position relative
					width 100%
				.footerSocial
					.contFooterSocial
						img
							width 150px !important
						.mediosPago
							img
								width 250px
							.tituloPagos
								border none
								margin 0
						.mediosPago
						ul
							display inline-block !important
							vertical-align top
							width 49%
				.mediosPago
					min-height initial
					width 100%
					img
						width 200px !important
						
		header
			.header
				.headerCOnt
					.buscador
						right 220px
		.accedeCuentaChica
			box-sizing border-box
			margin 0
			width 100%
			z-index 10
		.autenticacion
			.formularioCrea
				.creaCuenta
					.nombreApellido
						.nombre
						.apellido
							width 48%
		.box 
			.rodeaAddress
				form
					.addressNombreApellido
						.apellidoDireccion
						.nombreDireccion
							width 48%
					.esAliasDireccion 
					.esCelular
					.esRegion
					.esTelefono
					.infoAdicional
						width 100%
		.carrito 
			top 28px
		/*.carrito > .ajax_cart_no_product
		.carrito > .ajax_cart_quantity
			height 25px
			width 25px*/
		.carritoAlert
			display none
			left 0
			margin-left 10%
			margin-top 25px !important
			padding 20px 10%
			width 80%
		.container
			width 100%
			.contCarrusel
				display none
				width 100%
				.carrusel
					width 100%
		.contCarrusel 
			.contCarruselInt
				.comentariosHome
					display none
		.formCarrito
			.orderAddress
				.addresses
					.contenedorAddresses
						.selccionDireccion
							.selector1
								.selector
									margin-bottom 10px
					.contenedorAddresses
					.quieresAgregaComentario 
						width 100%
					.quieresAgregaComentario 
						margin-top 0
		.micuenta
			.rodeaListaDirecciones
				.listaDirecciones
					width 100%
		.loginUsuario
			top 28px
			.contenedorLogin
				&:before
					border-right 10px solid transparent
		.order_carrier_content
			.checkbox
				padding 10px
		.popularesMasVendidos
			width 100%
		.productoPag
			border-top none
			.productoFoto
				margin 2em  auto
				width 100%
				.contenedorProductoFoto
					.carroDecripcion
						height initial
						position relative
						width 100%
						.rodeacarroDecripcion
							form
								.box-info-product
									box-sizing border-box
									padding 15px
									.box-cart-bottom
										margin 0
										div
											.agregaCarrito
												margin 0
												.exclusive
													width 100%
										.buttons_bottom_block
											a
												margin 0
												width 80%
												&:before
													display none
													width 30px
												span
													text-align center
													width 95%
									.box-cart-bottom
									.content_prices
										display inline-block
										margin -2px
										position relative
										top 0
										vertical-align top
										width 49%
									.content_prices
										width 100%
										.price
											.box-cart-bottom
												margin 0
												width 100%
											.precioActual
												margin 0
												text-align center
												width 100%
							.pay
								display none
					.descripcion
						box-sizing border-box
						max-height initial
						margin 0
						padding 0
						width 100%
						.carroDecripcion 
							form 
								.box-info-product 
									.cantidad 
										.contieneCantidad
											margin 0 auto
						.topDescripcion
							//padding 5px !important
							.linksDescripcion
								position relative
								width 100%
								li
									//padding 0
									padding 5px 0
									width 50%
									a
										text-align center
							.referencias
								display none
								width 100%
							.socialsharing_product
								display none
					.contenedorImagenes
						display block
						margin 0 auto
						width 100%
						.imagenGrande
							border 0
							margin 0
							width 100%
							.contenedorImagen
								margin 0 auto
								//width 300px
				.muestraChica
					width 100%
					.rodeaMuestraChica 
						ul
							text-align center
	.adjuntos
		margin 0
		width 100%
	/*.añadeCarrituHome
		bottom -30px
		height 60px
		opacity 1
		right -30px
		width 60px
		a
			display block
			//height 40px
			//width 40px
			span
				&:before
					font-size 16px
					height 40px
					left 10px
					line-height 40px
					top 0px
					width 40px*/
	.carrito 
		.carritoHover
			.carritoDeCompra
				.cart_block
					.block_content
						margin 0 auto
						width 280px
						.cart_block_list
							.products
								.first_item
								.item
								.last_item 
									.remove_link
										a
											text-decoration none
											&:after
												font-size 20px
	.categoriasHome
		#htmlcontent_home
			.row
				li
					width 50%
					/*a
						p
						ul
							display none !important*/
							
	.contenedorPartners
		width 100%
	.contenedorProductoFoto
		position relative
	.content_sortPagiBar
		.bottom-pagination-content
			form
				width 125px
				button
					span
						font-size 16px
	.head-fixed 
		.header 
			.headerCOnt 
				.carrito
				.loginUsuario
					top 7px
	.infoAdicionalHeader
		.row
			width 100%
			.shop-titulo
				font-size 80%
			.shop-email
			.shop-phone
				font-size 90% !important
				font-weight 600
	.listaProducto
		.listaProductoLi
			width 23.5%
			.contenedorPopular
				.right-block
					.wishlist
						height 40px
						opacity 1
						width 40px
						a
							display block
							height 40px
							width 40px
							&:before
								font-size 16px
								line-height 40px
								height 40px
								width 40px
								

	/*.sub-menuDesktop
		border none !important
		margin 0
		padding 0
		position relative
		li
			background #656465
			a
				color white
				font-family 'oswaldbold'
				font-size 15px
				padding-left 10px
				text-decoration none
			ul
				display none
				margin 0
				padding 0
				li
					background #A29EA2
					margin 0
					padding 0
					a
						font-family 'Open Sans', sans-serif
						font-size 13px*/
				
	.tabsInfo
		width 100%
		margin-left 0
		.tabs
			.navTabs
				ul
					li
						border-bottom none
						border-top 1px solid #aeadb3
						width 100%
						a 
							h3
								font-size 16px
					.tab-current
						border-left 0
						border-right 0
						a
							h3
								font-size 20px
			.content-wrap
				table
					width 100% !important
				.content-current
					margin 0
					border-left 0
					border-right 0
					padding 10px
	.Otroquick-view
	.quick-view
		display none
	#cd-menu-trigger
		height 40px
		top 40px
	#sslsSiteSeal
		width 49%
		
@media screen and (max-width: 750px)
	body
		.carruselInfografia
			.infografia
				.cirGrilla
					.grilla
						.verMas
							.ciritem
								text-align center
								figure
									//background-color red
									height 180px
									left calc(50% - 90px)
									margin 0
									overflow hidden
									position absolute
									width 180px
									img
										left -10%
										margin 0
										top -10%
										width 120%
	.presentacion
		.contenedorPresentacion
			//height 80vh
			.contFoto
				.contTxt
					background-color rgba(white, .7)
					bottom 0
					top initial
					max-width 100%
					padding 10px 0
					width 100%
					a
						margin 0 auto
					h2
						margin-bottom 15px
						text-align center
				.fotoPresentacion 
					width 80%
					left 10%
					bottom 80px
					max-width 80%
					min-width 300px

@media screen and (max-width: 715px)
	body
		.container
			.contCarrusel
				.carrusel
					display none
	.selectCategory
		ul
			li
				.ifoPlan
					/*h2
						line-height 55px*/
					p
						display none
	#homefeatured
		.listaProductoLi
			width 49%
		
@media screen and (max-width: 700px)
	.categoriasHome
		.contenedor
			height 700px !important
			ul
				height 100%
				li
					display block
					left 0 !important
					height 15%
					position relative
					top initial !important
					width 100%
					&:nth-child(1)
						background url('../img/categorias/1.jpg') center no-repeat
						background-size cover
					&:nth-child(2)
						background url('../img/categorias/2.jpg') center no-repeat
						background-size cover
					&:nth-child(3)
						background url('../img/categorias/3.jpg') 0 80% no-repeat
						background-size cover
					&:nth-child(4)
						background url('../img/categorias/4.jpg') center no-repeat
						background-size cover
					&:nth-child(5)
						background url('../img/categorias/5.jpg') 0 80% no-repeat
						background-size cover
					&:nth-child(6)
						background url('../img/categorias/6.jpg') center no-repeat
						background-size cover
					&:nth-child(7)
						background url('../img/categorias/7.jpg') center no-repeat
						background-size cover
					a
						height 100%
						figure
							height 100%
							img
								display none
							figcaption
								height 100%
								h3
									bottom 1.8em !important
									text-shadow 0 0 10px black
									color white !important
									font-size 20px
									text-align center !important
									top initial !important
								p
									display none
	.cierraDespliega
		background transparent
		border-bottom 1px solid #999
		border-left none
		border-right none
		border-top none
		display block
		font-size 0
		height 35px
		text-align right
		width 100%
		&:before
			content '\e6fd'
			color otroGris
			font-family 'icos'
			font-size 15px
	.explicacion
		.row
			ul
				li
					.img
						height 100px
						width 100px
	.filtro
		.block
			.block_content
				ul
					.colorEdad
						.contEdad
							label
								width 55px
								span
									line-height 55px
							.checker
								height 55px
								width 55px
					.cuadroNodriza
						text-align left
						width 16%
						&:hover
							&:nth-child(1)
								.checker
									box-shadow 0 0 0 0 transparent
									border-bottom 2px solid rgba(0,198,208,1)
							&:nth-child(2)
								.checker
									box-shadow 0 0 0 0 transparent
									border-bottom 2px solid rgba(51,199,166,1)
							&:nth-child(3)
								.checker
									box-shadow 0 0 0 0 transparent
									border-bottom 2px solid rgba(102,200,125,1)
							&:nth-child(4)
								.checker
									box-shadow 0 0 0 0 transparent
									border-bottom 2px solid rgba(152,201,83,1)
							&:nth-child(5)
								.checker
									box-shadow 0 0 0 0 transparent
									border-bottom 2px solid rgba(204,202,42,1)
							&:nth-child(6)
								.checker
									box-shadow 0 0 0 0 transparent
									border-bottom 2px solid rgba(255,203,0,1)
							.checker
									box-shadow 0 0 0 0 transparent
									border-bottom 2px solid rgba(0,0,0,0.2)
						.contenedorCuadroNodriza
							text-align center
							.checker
								border-radius 0
								border-bottom 2px solid transparent
								height initial
								padding 15px 0
								span.checked
									background-color transparent
									box-shadow inset 0 0 0 0 transparent
							.selectTxt
								padding 5px
								.nombreFiltro
									font-size 13px
									line-height initial
	
	.infoAdicionalHeader
		.row
			padding 0 10px
			text-align right
			.shop-email
			.shop-phone	
			.shop-titulo
				line-height initial					
				margin-left 25%
				width 75%
	/*.loginUsuario
		margin auto 0 auto auto
		position relative
		width 150px
		.contenedorLogin 
			margin-top 5px*/
			
/*@media screen and (max-width: 690px)
	.selectCategory 
		.arriba
			height 300px*/

@media all and (max-width: 680px) {
  .skew.l {
    left: 5%;
    transform: skew(00deg,30deg);
  }

  .skew.r {
    right: 5%;
    transform: skew(00deg,-30deg);
  }
}		

@media screen and (max-width: 650px)
	body
		header
			.header
				figure
					a
						img
							margin 20px 0 0 0
							width 80%
		.formCarrito
			.detalleProducto
				overflow-y scroll
				width 100%
		.contCarrusel
			.contCarruselInt
				height 0
	.contenedorHistoria
		overflow-y scroll
		width 100%
	.contenedorDivisor
		.contenedorTexto
			h2
				font-size 18px
				font-style italic
	.order_carrier_content
		.checkbox
			padding 10px
			a
				margin 5px auto
				width 100%
			label
				width 100%
	.paiement_block
		.table_block
			overflow-y scroll
			width 100%
	.products_block
		overflow-y scroll
		width 100%
		table
			width 650px
			tbody
				tr
					td
						.remove
							opacity 1
	.table
		width 650px
	.table_block
		overflow-y scroll
		width 100%
	.textoLink .row
	.textoLink .payment_module
		width 90%



@media screen and (max-width: 600px)
	body
		header
			.header
				.headerCOnt
					.buscador
						width 30%
		.productoPag
			.productoFoto
				.contenedorProductoFoto
					.carroDecripcion
						form
							.box-info-product
								.box-cart-bottom
									.buttons_bottom_block
										a
											span
												text-align right
	.bx-controls
		width 90%
	.candadito
		display none
	.contenedorPartners
		display none
	.listaProducto
		.listaProductoLi
			width 48.5%
			.contenedorPopular
				.functional-buttons
					.compare
						a
							width 150px
							span
								font-size 11px
	.navegador
		//width 90%
		.checkout
		.volverCompra
			font-size 13px
			width 50%
			span
				font-size 13px
	.formCarritoFinalCompra  .box
	.pagar
		padding 1em
		width 100% !important
	/*.selectCategory
		ul
			li
				a
					figure
						width 100px
						img
							width 150px*/
	#sslsSiteSeal
		.sslslock
			img
				width 26px !important
				
	.textoLink
		font-size 13px

@media screen and (max-width: 570px)
	body .formCarrito .listaCompra li span
		font-size 0
	body .formCarrito .listaCompra li span em
		display initial
		font-size 13px

@media screen and (max-width:550px)
	body 
		header 
			.header 
				figure
					overflow hidden
					width 60px
					a
						img
							width 180px
				.headerCOnt 
					.buscador
						display none
	.head-fixed 
		.header
			figure
				width 40px
	.infoAdicionalHeader
		.row
			.shop-email
			.shop-phone	
			.shop-titulo
				margin-left 0
				width 100%
			.shop-titulo
				color transparent
	.loginUsuario 
		.contenedorLogin 
			background-color transparent
			.nombre
				color black
				padding 0
				span
					color black
	.presentacion
		.contenedorPresentacion
			height 400px
			.contFoto
				.contTxt
					h2
					p
					.destacadoTxt
						font-size 120%
						line-height initial


@media screen and (max-width:500px)
	body
		.carruselInfografia
			.infografia
				.cirGrilla
					.grilla
						width 100%
						.verMas
							height 175px
							.ciritem
								figure
									height 170px
								h2
									bottom 5%
	.filtro
		.block
			.block_content
				ul
					.cuadroNodriza
						width 49%
						.contenedorCuadroNodriza 
							.checker
								padding 0
								span.checked
									background-color white
									box-shadow inset 0 0 0 4px rgba(black, .2)
								span
									padding 10px 0
	.presentacion 
		.contenedorPresentacion 
			.contFoto 
				.contTxt
					.destacadoTxt
						font-size 15px
					h2
						font-size 13px
					
	/*.selectCategory
		ul
			width 100%
			li
				a
					figure
						width 130px
		.doggy
			margin 0*/

@media screen and (max-width:470px)
	body 
		header 
			.header 
				.headerCOnt
					.buscador
						width 50%
	.añadeCarrituHome 
		a
		.carritoVacio
			span
				font-size 11px
	.head-fixed 
		.header 
			.headerCOnt 
				figure
					overflow hidden
					width 37px
					a 
						img
							width 180px
	.infoAdicionalHeader 
		.row 
			.shop-phone
				font-size 10px

@media all and (max-width: 460px)
	.skew.l
		left 5%
		transform skew(00deg,40deg)
	.skew.r
		right 5%
		transform skew(00deg,-40deg)
    
@media screen and (max-width: 460px)
	body
		.autenticacion 
			width 100%
			.contenedorLogin
				.accedeCuenta
				.creaCuenta
					height 280px
					width 60%
		.direcciones
			.agregarNueva
				width 100%
			.recomendacion
				font-size 14px
		.formCarrito
			.listaCompra
				li
					a
					span
						font-size 0
						em
							display initial
							font-size 13px
				.step_current
					&:after
						border 0
					&:before
						border 0
		.fechaNacimiento
			.contenedorFecha
				width 100%
		.infoAdicionalHeader 
			.row 
				.shop-email
				.shop-phone
					font-size 75% !important
		.micuenta
			.rodeaListaDirecciones
				.listaDirecciones
				.listaregalo
					width 100%
		.productoPag
			.productoFoto
				.contenedorProductoFoto
					.carroDecripcion
						form
							.box-cart-bottom
								div
									.agregaCarrito
										button
											span
												font-size 13px
												
							.box-info-product
								.box-cart-bottom
									.buttons_bottom_block
										a
											width 100%
	.alert-warning
		box-sizing border-box
		width 100%
	
	.content_sortPagiBar 
		.sortPagiBar 
			.productsSortForm 
				.select 
					.selector
						margin-left 0
		
@media screen and (max-width:370px)
	body 
		header 
			.header 
				.headerCOnt
					.buscador
						width 40%
	.añadeCarrituHome 
		a 
		.carritoVacio
			span
				font-size 11px
	.infoAdicionalHeader
		.row
			padding 0 5px
	.presentacion 
		.contenedorPresentacion 
			.contFoto 
				.fotoPresentacion
					left 0
					width 100%
					max-width 100%
					min-width 100%

@media screen and (max-width: 940px)
	body
		-webkit-font-smoothing antialiased
	//.contenedorMenu
		//display none
	.menudespliega
		color #C41925
		bottom 18px
		display block
		position absolute
		right 0
		//text-align center
		//width 100%
		
	.menuManias
		.closeMenu
			opacity 1
			visibility visible
	.head-fixed
		.menudespliega
			bottom 3px

@media only screen and (min-width: 800px) 
	//.contenedorMenu
		//background #008F2F
		//border-bottom 1px solid #999
		//border-top 4px solid #99BE11
	.loginMenu
		display none !important
	.menuTop > li > a
		line-height 85px
	.sub-menuDesktop
		border-bottom 6px solid #ecedef
		left 0 !important
		min-height 260px !important
		padding 20px 30% 10px 6% !important
		position absolute !important
		width 75% !important
	.sub-menuDesktop > li
		display inline-block 
		vertical-align top 
		width 200px
		ul
			margin 0
			padding 0
			li
				list-style none
				a
					color #5b5b5f
					font-size 12px
					font-style italic
					line-height 16px !important
					margin 0
					text-decoration none
					text-transform capitalize
					&:hover
						color #ff4c00
						
	.sub-menuDesktop > li > a
		color #5b5b5f
		font-size 14px
		font-style italic
		font-weight 600
		margin-bottom 7px
		position relative
		
	.cd-main-content
		z-index 0
	
	#cd-top-nav 
		display block
	
	.cd-navigation
		margin 0 auto
		padding 0
		position relative
		width 100%
	
	.cd-navigation > li
		display inline-block
		height 40px
		vertical-align top
	
	.item-has-children > a
		&:after
			right .4em !important
	
	#cd-menu-trigger 
		display none
		padding-left 1.25em
		width 110px
	
	#cd-menu-trigger .cd-menu-text 
		display inline-block
		line-height 70px
	
	#cd-menu-trigger .cd-menu-icon 
		-moz-transform translateX(0)
		-ms-transform translateX(0)
		-o-transform translateX(0)
		-webkit-transform translateX(0)
		left auto
		right 1.25em
		transform translateX(0)
	
@media only screen and (max-width: 500px)
	body
		footer
			.row
				.footerSocial
					.contFooterSocial
						.mediosPago
							img
								width 100%
								
				.mediosPago
					img
						width 150px !important
	.listaDireccion 
		.contenedorListaDireccion
			width 100%
	